body {
    background-color: #030f25;
    font-family: Montserrat, sans-serif;
    color: #fff;
}

.botones {
    text-transform: uppercase;
}

/* BARRA DE NAVEGACION */

.logoBarra {
    display: contents;
}

.barritaNav {
    padding: 0.7% 9% 1% 4.5%;
    background-color: #030f25;
}

.logoHelmi {
    height: 60px;
}

.loginBtn {
    padding: 10px 20px;
    border-radius: 4px;
    border: 2px solid #fff;
    font-size: 0.625rem;
    line-height: 0.938rem;
    font-weight: 780;
    letter-spacing: 0.125rem;
}

/* SEGUNDA SECCION */

.colIzq {
    text-align: left;
    margin-left: 5%;
}

.titulo {
    margin-top: 10%;
    color: #fff;
    font-size: 3.5rem;
    line-height: 3.75rem;
    font-weight: 700;
}

.subtitulo {
    margin-top: 5%;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 400;
}

.getStartedBtn {
    padding: 1% 4%;
    margin: 4% 0 0 1%;
    border: 3px solid #fff;
    border-radius: 30px;
    background-color: transparent;
    font-weight: 700;
}

.colDer{
    text-align: center;
    padding: 4% 5% 0 0;
}

.montaña {
    width: 70%;
    min-width: 300px;
}

/* PIE DE PAGINA */

.redes {
    margin: 3.5% 9% 3.5% 4.5% ;
}

.imgRedes {
    width: 24px;
    margin: 0 1%;
}

.linkNovedades{
    float: right;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
}

/* TRADEMARK */

.footer{
    position: relative;
    top: auto;
    bottom: 0%;
    z-index: auto;
    margin-top: 0;
    font-size: 0.625rem;
    text-align: center;
}

/* CAMBIOS PARA PAGINA CELU */

@media (max-width: 720px) {

    .barritaNav {
        padding: 5% 8% 1% 4.5%;
    }

    .colIzq {
        text-align: center;
        padding: 0 auto;
        margin-left: 0;
    }

    .colDer {
        text-align: center;
    }

    .montaña {
        margin-top: 15%;
    }

    .redes {
        margin: 10% 5% 3.5% 4.5% ;
    }

    .linkNovedades{
        font-size: 0.7rem;
        margin-top: 4%;
    }
}
